@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

body{
  background:#252432;
  color:white;
}

/* Animation Property */
@property --a {
  syntax:"<angle>";
  inherits:false;
  initial-value:0deg;
}

.box{
  position:relative;
  width:420px;
  height:260px;
  margin:100px auto;
  background:repeating-conic-gradient(
    from var(--a),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 40%,
    #ff2770 50%
  );
  animation:rotating 4s linear infinite;
  border-radius:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.5s;
}

.box:hover{
  width:450px;
  height:420px;
}

@keyframes rotating{
  0%{ --a:0deg; }
  100%{ --a:360deg; }
}

.box::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:repeating-conic-gradient(
    from var(--a),
    #45f3ff 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 40%,
    #45f3ff 50%
  );
  border-radius:20px;
  animation:rotating 4s linear infinite;
  animation-delay:-1s;
}

.box::after{
  content:"";
  position:absolute;
  inset:4px;
  background:#2d2d39;
  border-radius:15px;
  border:8px solid #25252b;
}

.login{
  position:absolute;
  inset:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  background:rgba(0,0,0,0.3);
  box-shadow:inset 0 10px 20px rgba(0,0,0,0.5);
}

.loginBx{
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.loginBx h2{
  letter-spacing:3px;
}

.role{
  font-size:14px;
  color:#ccc;
}

/* Buttons */
.btn{
  padding:10px;
  border-radius:25px;
  text-decoration:none;
  background:#45f3ff;
  color:black;
  font-weight:600;
  transition:0.3s;
}

.btn:hover{
  box-shadow:0 0 10px #45f3ff,0 0 40px #45f3ff;
}

.secondary{
  background:#ff2770;
  color:white;
}

.secondary:hover{
  box-shadow:0 0 10px #ff2770,0 0 40px #ff2770;
}

/* Social Icons */
.socials{
  margin-top:10px;
  font-size:20px;
  display:flex;
  justify-content:center;
  gap:20px;
}

.socials i{
  cursor:pointer;
  transition:0.3s;
}

.socials i:hover{
  transform:scale(1.2);
}

/* Sections */
section{
  padding:60px;
  text-align:center;
}
